{
    "name": "Living room sensor",
    "device_id": "living-room-sensor",
    "wifi": {
        "ssid": "{{SSID}}",
        "password": "{{PASS}}"
    },
    "mqtt": {
        "host": "{{MQTT_HOST}}",
        "port": 1883,
        "base_topic": "homie/",
        "auth": false,
        "ssl": false
    },
    "ota": {
        "enabled": true
    }
}